
# LOG FILES
# =========================

logs                # folder that may contain runtime logs
*.log               # all log files
npm-debug.log*      # npm debug logs
yarn-debug.log*     # yarn debug logs
yarn-error.log*     # yarn error logs
pnpm-debug.log*     # pnpm debug logs
lerna-debug.log*    # lerna logs (monorepo tool)


# DEPENDENCIES & BUILD OUTPUT
# =========================

node_modules        # installed packages (always ignored)
dist                # production build output
dist-ssr            # server-side rendered build output (if used)
*.local             # local environment files (machine-specific)



# EDITOR / IDE FILES
# =========================

.vscode/*           # VS Code settings (ignored by default)
!.vscode/extensions.json  # keep recommended extensions file
.idea               # JetBrains IDE settings (WebStorm, IntelliJ)
.DS_Store           # macOS system file



# WINDOWS / VISUAL STUDIO FILES
# =========================

*.suo               # Visual Studio user options
*.ntvs*             # Node.js tools for Visual Studio files
*.njsproj           # Node.js project file
*.sln               # solution file



#  TEMP / SWAP FILES
# =========================

*.sw?               # swap files (created by editors like Vim)
